<% if notice %>
  <aside class="notice">
    <%= notice %>
  </aside>
<% end %>

<h2>Cart</h2>
<ul>
  <% @cart.line_items.each do |line_item| %>
    <li>
      <%= line_item.product.title %>, &times;<%= line_item.quantity %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
