<% if notice %>
  <aside id="notice">
   <%= notice %>
  </aside>
<% end %>

<h1>Catalogue</h1>

<h3>
  <% if @counter > 5 %>
    <%= pluralize(@counter, "visit") %>
  <% end %>
</h3>

<ul class="catalogue">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <li>
          <%= image_tag(product.image_url) %>
          <h2>
            <%= product.title %>
          </h2>
          <p>
            <%= sanitize(product.description) %>
          </p>
          <div class="price">
            <%= number_to_pln_currency(product.price) %>
          </div>
          <p>
          <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
          <p>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
